@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000;
  color: #fff;
}
p::-webkit-scrollbar {
  display: none;
}

.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.star {
  background-color: rgb(196, 212, 255);
  width: 3px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  box-shadow: 0px 0px 1px 1px rgb(141, 161, 214);
  animation: star-shine infinite alternate;
}

@keyframes star-shine {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  40% {
    transform: scale(1.5);
    opacity: 0.6;
  }

  60% {
    transform: scale(2);
    opacity: 0;
  }

  80% {
    transform: scale(1);
    opacity: 0.2;
  }

  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
